{{- define "common.deployment" -}}
{{- $common := dict "Values" .Values.common -}} 
{{- $noCommon := omit .Values "common" -}} 
{{- $overrides := dict "Values" $noCommon -}} 
{{- $noValues := omit . "Values" -}} 
{{- with merge $noValues $overrides $common -}}
apiVersion: extensions/v1beta1
kind: Deployment
{{ template "common.metadata" . }}
spec:
  template:
    metadata:
      labels:
        simpletrip: {{ include "common.name" . }}
    spec:
      containers:
      - name: {{ include "common.simpletripName" . }}
        image: {{ .Values.imageRepository }}/{{ template "common.name" . }}:{{ .Values.imageTag }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        ports:
        - containerPort: {{ .Values.portsContainerPort }}
        envFrom:
        - configMapRef:
            name: spring-boot-cloud
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: {{ .Values.livenessProbeInitialDelaySeconds }}
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: {{ .Values.readinessProbeInitialDelaySeconds }}
        env:
{{- if .Values.secretsEnabled -}}
        - name: SPRING_CONFIG_ADDITIONAL-LOCATION
          value: file:/etc/secrets/
{{- end }}
        - name: SPRING_ENVIRONMENT
          valueFrom:
            configMapKeyRef:
              name: spring-boot-cloud
              key: spring.environment
{{- if .Values.awsEnabled -}}
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: {{ .Values.awsSecretKeyRefName }}
              key: key_id
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: {{ .Values.awsSecretKeyRefName }}
              key: secret
{{- end }}
        - name: DD_AGENT_HOST
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: DD_SERVICE_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['simpletrip']
{{- if .Values.secretsEnabled -}}
        volumeMounts:
        - name: {{ .Values.secretsName }}
          mountPath: /etc/secrets/
          readOnly: true
      volumes:
      - name: {{ .Values.secretsName }}
        secret:
          secretName: {{ .Values.secretsName }}
{{- end }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: simpletrip
                operator: In
                values:
                - {{ include "common.name" . }}
            topologyKey: kubernetes.io/hostname
      nodeSelector:
        role: general-purpose
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
{{- end -}}
{{- end -}}
