serviceName: ""
servicePrefix: ""
containerName: ""

image:
  repository: 432560034976.dkr.ecr.eu-central-1.amazonaws.com/yiluhub
  pullPolicy: Always
  tag: ""

args: []

livenessProbe:
  path: /actuator/health
  initialDelaySeconds: 300

readinessProbe:
  path: /actuator/health
  initialDelaySeconds: 30

# Inject secrets
secrets:
  vault:
    namespace: admin/yiluhub/
    vaultSecretsOperatorName: vault-secrets-operator
    authRef: vault-secrets-operator/default
    # authRef is the name of the Vault Auth resource deployed as part of the vault secrets operator. The value is namespace prefixed
  dynamicSecrets:
    enabled: false
    mountPath: "aws/secret-engine"
    secrets:
      - name: ""
        type: aws
        permissionsRolePath: "" # example creds/service-read
        renewalPercent: 70 # Renew the secret when it's TTL reaches this value in % (percentage)
  staticSecrets:
    enabled: false
    secrets: []
    #  - secretName: "" # example worldshop-secrets, this is the name of the secret created in k8s
    #    secretPath: "" # example worldshop
    #    mountPath: "kv/services/secrets"
    #    refreshInterval: 1h
    #    version: ~ # set it to null to always return latest version
    #    secretKeys: []
    #    type: kv-v2
  enabled: false
  name: ""
  refreshInterval: 1h
  data:
    secretKey: application.yaml
    remoteRef:
      parentKey: kv/services/secrets/data
      property: application.yaml
      decodingStrategy: Base64

  # -- Optionally specify additional environment variables to be populated from Kubernetes secrets.
  # this gives flexibility to map secrets to desired environment variables
environmentSecrets:
  # - name: SONARQUBE_TOKEN
  #   secretKeyRef:
  #     name: sonarqube-secrets
  #     key: token
  # - name: AWS_S3_BUCKET_ACCESS_KEY_ID
  #   secretKeyRef:
  #     name: bookings-s3-secrets
  #     key: access_key_id
  # - name: AWS_S3_BUCKET_ACCESS_SECRET
  #   secretKeyRef:
  #     name: bookings-s3-secrets
  #     key: access_secret
  # - name: ATLANTIS_GH_WEBHOOK_SECRET
  #   secretKeyRef:
  #     name: atlantis-secrets
  #     key: github_webhook_secret

# aws:
aws:
  enabled: false
  secretKeyRefName: ""

mockClientsConfEnabled: false

# extra env to pass to container
#  - name: SPRING_APPLICATION_NAME
#    value: flixbus-alternative
extraEnv: []

#
#  labels: |
#    app.kubernetes.io/component: microservice
#    app.kubernetes.io/part-of: booking
labels: {}

datadog:
  serviceNameEnv: DD_SERVICE_NAME
  analyzedSpansEnabled: false

# SERVICE
service:
  type: NodePort
  # also used as a deployment port, liveness and readiness port
  port: 8080
  https:
    enabled: false
    port: 443

# Autoscaling
# HorizontalPodAutoscaler
hpa:
  targetCPUUtilizationPercentage: 80
  minReplicas: 2
  maxReplicas: 10

# CronJob
job:
  enabled: false
  #otherwise uses repository image and tag
  overrideImageUrl:
  concurrencyPolicy:
  schedule:
  successfulJobsHistoryLimit:
  failedJobsHistoryLimit:
  command:
  args: []
  extraEnvConfigMapRef:

# Deployment
deployment:
  revisionHistoryLimit: 5

# pass resource requests
# resources: |
#   limits:
#     cpu: "1"
#     memory: 512Mi
#   requests:
#     cpu: "1"
#     memory: 512Mi
resources:
