exports:
  data:
    # DEPLOYMENT
    imageRepository: "432560034976.dkr.ecr.eu-central-1.amazonaws.com/simpletrip"
    imagePullPolicy: "Always"
    imageTag: "latest"

    portsContainerPort: 8080

    livenessProbeInitialDelaySeconds: 300
    livenessProbePath: "/actuator/health"
    readinessProbeInitialDelaySeconds: 30
    readinessProbePath: "/actuator/health"

    secretsEnabled: false
    secretsName: "default"

    awsEnabled: false
    awsSecretKeyRefName: "default"

    mockClientsConfEnabled: false

    datadogServiceNameEnv: "DD_SERVICE_NAME"
    autoTraceIdInjection: false

    # SERVICE
    serviceType: "NodePort"
    servicePort: 8080

    # HorizontalPodAutoscaler
    hpaTargetCPUUtilizationPercentage: 80
    hpaMinReplicas: 2
    hpaMaxReplicas: 10

