exports:
  data:
    # DEPLOYMENT
    imageRepository: 432560034976.dkr.ecr.eu-central-1.amazonaws.com/simpletrip
    imagePullPolicy: Always
    imageTag: latest

    livenessProbeInitialDelaySeconds: 300
    livenessProbePath: /actuator/health
    readinessProbeInitialDelaySeconds: 30
    readinessProbePath: /actuator/health

    secretsEnabled: false
    secretsName: default

    awsEnabled: false
    awsSecretKeyRefName: default

    mockClientsConfEnabled: false

    datadogServiceNameEnv: DD_SERVICE_NAME
    autoTraceIdInjection: false
    traceAnalyticsEnabled: false
    analyzedSpansEnabled: false

    # SERVICE
    serviceType: NodePort
    # also used as a deployment port, liveness and readiness port
    servicePort: 8080
    httpsEnabled: false
    httpsPort: 443

    # HorizontalPodAutoscaler
    hpaTargetCPUUtilizationPercentage: 80
    hpaMinReplicas: 2
    hpaMaxReplicas: 10

